<div class="main">

  <% @artwork_resize.each do |artwork| %>
    <% if artwork.size == 1 then %>
      <div class="box size--1">
        <%= image_tag artwork.image %>
      </div>
    <% elsif artwork.size == 2 then%>
      <div class="box size--2">
        <%= image_tag artwork.image %>
      </div>
    <% elsif artwork.size == 3 then%>
      <div class="box size--3">
        <%= image_tag artwork.image %>
      </div>
    <% elsif artwork.size == 4 then%>
      <div class="box size--4">
        <%= image_tag artwork.image %>
      </div>
    <% elsif artwork.size == 5 then%>
      <div class="box size--5">
        <%= image_tag artwork.image %>
      </div>
    <% elsif artwork.size == 6 then%>
      <div class="box size--6">
        <%= image_tag artwork.image %>
      </div>
    <% end %>
  <% end %>

</div>


