<div class="inquiry">
  <%= form_for @inquiry, :url => contact_confirm_path do |f| %>
    <div class="page-header">
      <h1>Contact form</h1>
    </div>

    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>something wrong ! / 入力内容にエラーがあります!</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table class="table">
      <tr>
        <th>name</th>
        <% if user_signed_in? %>
          <td><%= f.text_field :name, value: current_user.name %></td>
        <% else %>
          <td><%= f.text_field :name %></td>
        <% end %>
      </tr>
      <tr>
        <th>email</th>
        <% if user_signed_in? %>
          <td><%= f.text_field :email, value: current_user.email %></td>
        <% else %>
          <td><%= f.text_field :email %></td>
        <% end %>
      </tr>
      <tr>
        <th>message</th>
        <td><%= f.text_area :message %></td>
      </tr>
    </table>
    <%= f.submit ' confirm', class: 'btn btn-primary' %>
  <% end %>
</div>
