<div class="main show-main">

  <% @artworks.each do |artwork| %>

    <div id="inline-wrap-<%=artwork.id%>" class="mfp-hide">
      <div class="popup">
        <div class="popup__image">
          <%=image_tag(artwork.image, class:"popup__image--append", alt:"popupimage") %>
        </div>
        <div class="popup__title">
          Album title : <%= artwork.title %>
        </div>
        <div class="popup__artist">
          Artist name : <%= artwork.artist %>
        </div>
        <div class="popup__link">
          <a href="<%= artwork.link %>" target= "spotify" >
            <%=image_tag('spotify.svg', alt:"spotifylink", width:"100%", height:"100%") %>
          </a>
        </div>
        <div id="jsreturn">
          <%= render partial: 'likes/like', locals: { artwork: artwork, likes: @likes} %>
        </div>
        <button class="mfp-close">- close -</button>
      </div>
    </div>

　  <a class="popup-modal" href="#inline-wrap-<%=artwork.id%>">
      <% if artwork.size == 1 then %>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% elsif artwork.size == 2 then%>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% elsif artwork.size == 3 then%>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% elsif artwork.size == 4 then%>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% elsif artwork.size == 5 then%>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% elsif artwork.size == 6 then%>
        <div class="box size--show">
          <%= image_tag(artwork.image, id:"artwork", alt:"artwork") %>
        </div>
      <% end %>
　  </a>

  <% end %>

  <div class="mypage__box">
    &nbsp;&nbsp;Mypage : <%= current_user.name %>&nbsp;&nbsp;-Artworks you liked-&nbsp;&nbsp;
  </div>

</div>


