<!DOCTYPE html>
<html>
  <head>
    <title>DigByPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header__icon"><a href="/">Dig-By-Pic</a></h1>
        <ul class="header__menu">
          <li>
            <a href="/">top</a>
          </li>
          <li>
            <a href="/">about</a>
          </li>
          <li>
            <a href="/">login</a>
          </li>
          <li>
            <a href="/">post</a>
          </li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer">
        <p>Copyright Dig-By-Pic 2018.</p>
      </div>
    </footer>
  </body>

</html>
