<!DOCTYPE html>
<html>
  <head>
    <title>DigByPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <div>
<!--   <%=image_tag('test.jpg', class:"background", alt:"background") %> -->
    </div>

      <div class="header">

<!--       <h1 class="header__logo"><a href="/">Dig-By-Pic</a></h1> -->
　　　　<h1 class="header__icon" id="rect"><a href="/"><%= image_tag("dig-by-pic.svg", size: '225x125') %></a></h1>

        <button class="menu_btn none"><h id="menu_btn_string">Menu</h>
          <button class="menu_list none">
            <ul>
              <li id="menu_list_home">
                <a href="/">home</a>
              </li>
              <li id="menu_list_about">
                <a href="/about">about</a>
              </li>
              <li id="menu_list_login">
                <% if user_signed_in? %>
                  <a href="/users/<%= current_user.id %>">my page</a>
                <% else %>
                  <a href="/users/sign_in">login</a>
                <% end %>
              </li>
              <li id="menu_list_contact">
                <a href="/contact">contact</a>
              </li>
            </ul>
          </button>
        </button>

        <nav class="navbar">
          <ul class="header__menu">
            <li>
              <a href="/" id="home">home</a>
            </li>
            <li>
              <a href="/about" id="about">about</a>
            </li>
            <li>
              <% if user_signed_in? %>
                <a href="/users/<%= current_user.id %>" id="mypage">my page</a>
              <% else %>
                <a href="/users/sign_in" id="login">login</a>
              <% end %>
            </li>
            <li>
              <a href="/contact" id="contact">contact</a>
            </li>
          </ul>
        </nav>

      </div>
    </header>

    <div class="background__tree2">
      <%= image_tag "/assets/background__tree2.svg", size: '280x200'  %>
    </div>

    <%= yield %>

    <div class="background__tree">
      <%= image_tag "/assets/background__tree.svg", size: '280x200'  %>
    </div>
  </body>

</html>
