<!DOCTYPE html>
<html>
  <head>
    <title>DigByPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header__icon" id="rect"><a href="/"><%= image_tag "/assets/dig-by-pic.svg", size: '225x125'  %></a></h1>
        <ul class="header__menu" id="rect">
          <li>
            <a href="/" id="about"><%= image_tag "/assets/about.svg", size: '125x75'  %></a>
          </li>
          <li>
            <% if user_signed_in? %>
              <a href="/users/<%= current_user.id %>" id="mypage"><%= image_tag "/assets/mypage.svg", size: '125x75'  %></a>
            <% else %>
              <a href="/users/sign_in" id="login"><%= image_tag "/assets/login.svg", size: '125x75'  %></a>
            <% end %>
          </li>
          <li>
            <a href="/"><%= image_tag "/assets/contact.svg", size: '125x75'  %></a>
            <!-- <%= link_to 'post', new_artwork_path %> -->
          </li>
        </ul>
      </div>
    </header>

    <%= yield %>

  </body>

</html>
